<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/aboutUs.css">
    <title>About Us - Techyevents</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="hero">
        <div class="container">
            <h1>About Techyvents</h1>
            <p>Connecting tech enthusiasts with exciting opportunities</p>
        </div>
    </div>

    <div class="container">
        <div class="content-section">
            <h2>Welcome to Techyvents</h2>
            <p>Your one-stop platform for discovering and accessing the latest tech events! We are dedicated to creating a centralized hub where technology enthusiasts, professionals, and learners can find information about upcoming events, workshops, and conferences in the tech industry.</p>
        </div>

        <div class="content-section">
            <h2>Our Mission</h2>
            <p>Our mission is to foster a vibrant tech community  by providing an easy-to-navigate platform that connects individuals with relevant events. Whether you're looking to enhance your skills, network with like-minded professionals, or stay updated on industry trends, we aim to be your trusted resource.</p>
        </div>

        <div class="content-section">
            <h2>What We Offer</h2>
            <div class="features">
                <div class="feature-card">
                    <h3>Comprehensive Event Listings</h3>
                    <p>Search and explore tech events by category, date, and location.From hackathons to webinars, we've got you covered!</p>
                </div>
                <div class="feature-card">
                    <h3>User-Friendly Experience</h3>
                    <p>Navigate effortlessly to find events that match your interests.</p>
                </div>
                <div class="feature-card">
                    <h3>Community Engagement</h3>
                    <p>Build valuable connections and collaborate with fellow tech enthusiasts.</p>
                </div>
            </div>
        </div>

        <div class="contact">
            <h2>Get in Touch</h2>
            <p>Join us in empowering one another to grow and innovate in the tech industry.</p>
            <p>For inquiries, contact us at <a href="mailto:contact@techyevents.com">contact@techyevents.com</a></p>
        </div>
    </div>
</body>
</html>