
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/javascripts/bookmarks.js"></script>
    <link rel="stylesheet" href="/stylesheets/card.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navbar') %>
      <div class="container">
        <h1 class="section-title">My Bookmarked Events</h1>
        <% if (events.length === 0) { %>
        <p>You haven't bookmarked any events yet.</p>
        <% } else { %>
            <%- include('partials/card') %>
        <% } %>
    </div>
</body>
</html>